{% extends "base.html" %}
{% load static %}

{% block content %}



<div class = "habits">
    <div class = "habit_post" >
        <h3>Did you meet your goal for today?</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type=“submit”>Post</button>
        </form>
    </div>
    <div class = "habit_post">
        <h3>Daily Journal</h3>
        {% for record in records %}
            <p>Quantity You Accomplished: {{ record.actual }}</p>
            <p>Today's Diary:{{ record.record }}</p>
            <p>Did you do accomplish your habit?: {{ record.met_goal }}</p>
            <p class = "date">Date Entered: {{ record.date }}</p>
        {% endfor %}
        <a href>Add Observer</a>
    </div>
</div>

{% endblock %}
